.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border:  solid #ac0000 2px;

}


.formControl.error span {
    color: #ba0000;

}

.formOllError{
    border: red 2px solid;
    padding: 5px;
    color: coral;
}