.News {
    border: #0f01ff 2px solid;
    margin:  1em;
    padding: 8px;
    width: 95%;
    display: flex;

}

.Weather {
    border: #ff582c 2px solid;
    padding: 8px;
    width: 50%;

}
.Rate {
    border: #8cffe0 2px solid;
    padding: 8px;
    width: 50%;
}
.Temp {

}
