.userItem {
    width: 50%;
    display: table;

}

.userImage{
    display: table-cell;
    vertical-align: top;

}

.logoMustang img{
    width: 350px;
    height: 350px;
}
.userText{
    vertical-align: top;
    horiz-align: left;
    display: table-cell;
    padding: 10px;


}

.logoUser img{
    width: 300px;
    height: 300px;
}

