.userItem {
    width: 98%;
    display: table;
}

.userImage{
    width: 320px;
    height: 320px;
    display: table-cell;
    vertical-align: top;
}

.logoMustang img{
    width: 320px;
    height: 320px;
}


.logoUser img{
    width: 320px;
    height: 320px;
}


.formControl.error input,
.formControl.error textarea {
    border:  solid #ac0000 2px;

}


.formControl.error span {
    color: #ba0000;

}

.formOllError{
    border: red 2px solid;
    padding: 5px;
    color: coral;
}

.button{
    padding: 8px 16px;
}

.borderOll{
    width: 95%;
    /*border: 2px solid #010f7e;*/
    padding-left: 2rem;

}

.updatePhoto img {
    width: 50px;
}
.updatePhoto input {
    display: none;
}
